In [2]:
!pip install biopython torch

Collecting biopython
  Downloading https://files.pythonhosted.org/packages/a8/66/134dbd5f885fc71493c61b6cf04c9ea08082da28da5ed07709b02857cbd0/biopython-1.77-cp36-cp36m-manylinux1_x86_64.whl (2.3MB)
     |████████████████████████████████| 2.3MB 2.7MB/s
Requirement already satisfied: torch in /usr/local/lib/python3.6/dist-packages (1.5.0+cu101)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from biopython) (1.18.4)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from torch) (0.16.0)
Installing collected packages: biopython
Successfully installed biopython-1.77

In [0]:
from IPython.display import display, HTML
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [0]:
from Bio import SeqIO
import re

def load_fasta(fname):
  parsed = []
  for seq in SeqIO.parse(fname, "fasta"):
    record = { 'seq': str(seq.seq) }
    if 'trueSeq' in seq.id:
      meta = re.search('::\w+::(?P<rbps>(?:\w+(?:///)?)+)::(?P<id>\w+)', seq.id).groupdict()
      rbps = {key: 1 for key in meta['rbps'].split('///')}
      record['id'] = meta['id']
      record.update(rbps)
    parsed.append(record)
  return pd.DataFrame(parsed).fillna(0)

train = load_fasta('train.txt')
valid = load_fasta('valid.txt')
test = load_fasta('test.txt')

In [56]:
train.head()

                                                 seq  ... CSTF2
0  agcatgttagagttctgatggcagttgttgtttatgaataagCTTC...  ...   0.0
1  aaacatattctattcatttattttataactgttcccttgacctctt...  ...   0.0
2  ccccacccacccctttggagaggtgtccctcgtaacattctggagc...  ...   0.0
3  cttgcagtctgagcacgcgtaaggcttctccccggtgtgagcccgc...  ...   0.0
4  taatccacagtttcccaacctcagccctactgacactggggctgga...  ...   0.0

[5 rows x 22 columns]

In [57]:
train.tail()

                                                      seq id  ...  TARDBP  CSTF2
194978  TTTTGTTTCCTGTTAATCTTTGTATCTAGGAAAATCTAATCTGCCT...  0  ...     0.0    0.0
194979  GCCTTTTATGGGCCACTTGCATTAGTGTCCTGATAGAGGCTTAATC...  0  ...     0.0    0.0
194980  GTCTGTCTTCTGTATATACCCTGTAGATCCGAATTTGTGTAAGGAA...  0  ...     0.0    0.0
194981  GTTCAGGGTACAGCCAGGTGGGGGAGACAGATCACTATAAAAACCT...  0  ...     0.0    0.0
194982  ATGTAGCCAAAATCAGCCAGGAGCGGTGGCTCACCCCTGTAATCCC...  0  ...     0.0    0.0

[5 rows x 22 columns]